<!DOCTYPE html>
<html>
    <div id="app">
        <h1>Movies:</h1>
        <movie v-for="movie in movieDatabase" :key="movie.id" :movie="movie" :cast="getActors(movie.id)">
        </movie>
        
        <hr/>
        <hr/>
        <h1>Actors</h1>
        <p v-for="actor in actorsDatabase">{{ actor }}</p>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./components.js"></script>
    <script type="module" src="./javascript.js"></script>
</html>